{% extends "myadmin/index.html" %}
{% load static %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

          

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Table | <a href="/admin-panel/card-detail-create/"><i class="fa fa-plus color-muted m-r-5 " style="font-size:18px;"></i></a></h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Card Number</th>
                                                <th>Holder Name</th>
                                                <th>Expiration Date</th>
                                                <th>CVV</th>
                                                <th>User</th>
                                                <th>Create Date</th>
                                                <th>Opration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for crd in get_card %}
                                            <tr>
                                                <td>{{ crd.card_number }}</td>
                                                <td>{{ crd.card_holder_name }}</td>
                                                <td>{{ crd.expiration_date }}</td>
                                                <td>{{ crd.cvv }}</td>
                                                <td>{{ crd.user.username }}</td>
                                                <td>{{ crd.created_date }}</td>
                                                <td>
                                                    <span><a href="{% url 'card_edit_by_ad' id=crd.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a> | 
                                                        <a href="{% url 'card_del_by_ad' id=crd.id %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o color-danger"></i></a></span>
                                                </td>
                                            </tr>      
                                            {% endfor %}                               
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Card Number</th>
                                                <th>Holder Name</th>
                                                <th>Expiration Date</th>
                                                <th>CVV</th>
                                                <th>User</th>
                                                <th>Create Date</th>
                                                <th>Opration</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************Content body end***********************************-->
        
        

        
        {% endblock content %}