{% extends "mysuperadmin/index.html" %}
{% load static %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

           
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center mb-4">
                                    <img class="mr-3" src="/media/{{ get_user.profile_picture }}" width="80" height="80" alt="">
                                    <div class="media-body">
                                        <h3 class="mb-0">{{ get_user.first_name }}</h3>
                                        <p class="text-muted mb-0">{{ get_user.middle_name }} {{ get_user.last_name }}</p>
                                    </div>
                                </div>
                                
                                <div class="row mb-5">
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <span class="mb-1 text-primary"><i class="fa fa-gamepad"></i><i class="fa fa-plus" style="font-size:15px;"></i></span>
                                            <h3 class="mb-0">{{ num_of_created_game }}</h3>
                                            <p class="text-muted px-4">Game Created</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <span class="mb-1 text-warning"><i class="fa fa-gamepad"></i></span>
                                            <h3 class="mb-0">{{ num_of_played_game }}</h3>
                                            <p class="text-muted">Game Played</p>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        {% comment %} <button class="btn btn-danger px-5">Follow Now</button> {% endcomment %}
                                    </div>
                                </div>

                                <h4>Username</h4>
                                <p class="text-muted">{{ get_user.username }}</p>
                                <ul class="card-profile__info">
                                    <li class="mb-1" id="ali"><strong class="text-dark mr-4">Date of Birth</strong> <span>{{ get_user.date_of_birth }}</span></li>
                                    <li class="mb-1" id="ali"><strong class="text-dark mr-4">Mobile No</strong> <span>{{ get_user.mobile_no }}</span></li>
                                    <li id="ali"><strong class="text-dark mr-4">Gender</strong> <span>{{ get_user.gender }}</span></li>

                                    {% comment %} <li><strong class="text-dark mr-4">City</strong> <span>{{ get_user.city }}</span></li> {% endcomment %}
                                    <li id="ali"><strong class="text-dark mr-4">My Code</strong> <span>{{ get_user.my_code }}</span></li>
                                    <li id="ali"><strong class="text-dark mr-4">Refer By</strong> <span>{{ get_user.refer_by }}</span></li>
                                    <li id="ali"><strong class="text-dark mr-4">Refer Code</strong> <span>{{ get_user.refer_code }}</span></li>
                                    <li id="ali"><strong class="text-dark mr-4">Is Active</strong> <span>
                                        
                                        <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                        {% if get_user.is_active == True %}
                                        <input type="checkbox" class="css-control-input" id="val-terms" name="actv" value="1" checked disabled>
                                        <input type="text" style="display: none;" id="act-result"  name="actv" value="1" disabled>
                                        {% elif get_user.is_active == False %}
                                        <input type="checkbox" class="css-control-input" id="val-terms" name="actv" value="1" disabled></label>
                                        <input type="text" style="display: none;" id="act-result"  name="actv" value="0" disabled>
                                         {% endif %}
                                        
                                    </span></li>
                                    <li><strong class="text-dark mr-4">Verified</strong> <span>
                                        <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                            {% if get_user.is_verified == True %}
                                            <input type="checkbox" class="css-control-input" id="val-terms" name="verificat" value="1" checked disabled></label>
                                            <input type="text" style="display: none;" id="ver-result" name="verificat" value="1" disabled>
                                            {% elif get_user.is_verified == False %}
                                            <input type="checkbox" class="css-control-input" id="val-terms" name="verificat" value="1" disabled>
                                            <input type="text" style="display: none;" id="ver-result" name="verificat" value="0" disabled>
                                            {% endif %}
                                    </span></li>
                                    <li><strong class="text-dark mr-4">Above 18</strong> <span>
                                        <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                            {% if get_user.is_above18 == True %}
                                            <input type="checkbox" class="css-control-input" id="val-terms" name="goto" value="1" checked disabled>
                                        
                                            <input type="text" style="display: none;" id="result"  name="goto" value="1" disabled>
                                            {% elif get_user.is_above18 == False %}
                                            <input type="checkbox" class="css-control-input" id="val-terms" name="goto" value="1" disabled> <span class="css-control-indicator"></span></label>
                                            <input type="text" style="display: none;" id="result"  name="goto" value="0" disabled>
                                            {% endif %}
                                    </span></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body">
                                <form action="#" class="form-profile">
                                    <h4>Device Token</h4>
                                    <div class="form-group">
                                        {{ get_user.device_registration_id }}
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                        
                            <div class="card-body">
                                <div class="media media-reply">
                                    
                                    <div class="media-body">
                                        <div class="d-sm-flex justify-content-between mb-2">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    
                                                    <div class="card-body">
                                                        <h4>Win Game : <span id="played">{{ num_of_win_game }}</span></h4>
                                                        <div class="card-title">
                                                            {% comment %} <h4>Table Basic</h4> {% endcomment %}
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Player Name</th>
                                                                        <th>Game</th>
                                                                        <th>Is Winner</th>
                                                                        <th>Is Paid</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for tk in get_tk %}
                                                                    <tr>
                                                                        <th>{{ forloop.counter }}</th>
                                                                        <td>{{ tk.assign_to.first_name }}</td>
                                                                        <td>{{ tk.game.game_name }}</td>
                                                                        <td>
                                                                            {% if tk.is_winner == True %}
                                                                            <span class="badge badge-success px-2">
                                                                            Win
                                                                        </span>
                                                                        {% elif tk.is_winner == False %}
                                                                        <span class="badge badge-danger px-2">Lose</span>
                                                                        {% endif %}
                                                                        </td>
                                                                        <td>
                                                                            {% if tk.is_paid == True %}
                                                                            <span class="badge badge-primary px-2">
                                                                            Paid
                                                                            </span>
                                                                            {% elif tk.is_paid == False %}
                                                                            <span class="badge badge-danger px-2">Pending</span>
                                                                            {% endif %}
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    {% endfor %}
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            
                            
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        {% endblock content %}