{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Real Rummy Super Admin</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/Asset24x1.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static './plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static './plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static './plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <link href="{% static './plugins/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/super-admin/index/">
                    <b class="logo-abbr"><img src="{% static 'images/Asset1Rp4x.png' %}" alt=""> </b>
                    <span class="logo-compact"><img src="{% static 'images/Asset14x4.png' %}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'images/Asset14x4.png' %}" alt="" class="logo-img">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                {% comment %} <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">{{ num_notif }}</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">{{ num_notif }}</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        {% for notify in notification %}
                                        
                                        <li>
                                            <a href="{% url 'noiti_edit' id=notify.id %}">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2">
                                                    <i class="fa fa-bell"></i>
                                                </span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">{{ notify.user.first_name }}</h6>
                                                    <span class="notification-text">{{ notify.title }}</span> 
                                                </div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    
                                </div> 
                            </div>
                        </li>
                        
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                
                                <img src="{% static 'images/admin.png' %}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        {% comment %} <li>
                                            <a href="{% url 'admin_profile' id=request.user.id %}"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li> {% endcomment %}
                                        {% comment %} <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li> {% endcomment %}
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="/super-admin/changepassword/{{request.user.id}}/"><i class="icon-lock"></i> <span>Change Password</span></a>
                                        </li>
                                        <li><a href="/super-admin/logout/"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a  href="/super-admin/index/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-user menu-user"></i><span class="nav-text">User</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/users-table/">User</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-building-o"></i> <span class="nav-text">State</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/state-table/">Show State</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-info-circle"></i><span class="nav-text">About Game</span>
                        </a>
                        <!--<ul aria-expanded="false">-->
                        <!--    <li><a href="/super-admin/new-game-rule/">Game Rule</a></li>-->
                        <!--    <li><a href="/super-admin/game-rule-table/">Show Game Rule</a></li>-->

                        <!--    <li><a href="/super-admin/rule-in-game/">Rule In Game</a></li>-->
                        <!--    <li><a href="/super-admin/rule-in-game-table/">Show Rule In Game</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-gamepad"></i> <span class="nav-text">Game</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/game-table/">Game</a></li>

                            <li><a href="/super-admin/new-leader-board/">Leader Board</a></li>
                            <li><a href="/super-admin/palyer-table/">Player</a></li>
                            <li><a href="/super-admin/get_tournament-table/">Tournament</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-handshake-o"></i><span class="nav-text">Help and Support</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/help-support-table/">Help</a></li>
                            
                            {% comment %} <li><a href="/super-admin/page-create/">New Page</a></li>
                            <li><a href="/super-admin/page-table/">Show Page</a></li> {% endcomment %}
                        </ul>
                    </li>
                    
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-credit-card"></i><span class="nav-text">Payment Section</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/wallet-add-table/">Wallet Add</a></li>
                            <li><a href="/super-admin/wallet-amount-table/">Wallet Amount</a></li>
                            <li><a href="/super-admin/pay-by-wallet-table/">Pay By Wallet</a></li>
                            <li><a href="/super-admin/withdraw-request-table/">Withdraw Request</a></li>
                            <li><a href="/super-admin/bank-detail-table/">Bank Detail</a></li>
                            {% comment %} <li><a href="/super-admin/buy-ticket-create/" aria-expanded="false">Buy Ticket</a></li>
                            <li><a href="/super-admin/buy-ticket-table/" aria-expanded="false">Show Buy Ticket</a></li> {% endcomment %}
                        </ul>
                    </li>
                   
                    <!--<li>-->
                    <!--    <a class="has-arrow" href="javascript:void()" aria-expanded="false">-->
                    <!--        <i class="fa fa-ticket"></i><span class="nav-text">Ticket</span>-->
                    <!--    </a>-->
                    <!--    <ul aria-expanded="false">-->
                    <!--        <li><a href="/super-admin/ticket-create/" aria-expanded="false">Add Ticket</a></li>-->
                    <!--        <li><a href="/super-admin/ticket-table/" aria-expanded="false">Show Ticket</a></li>-->

                            
                    <!--    </ul>-->
                    <!--</li>-->
                   
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Others</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/super-admin/kyc-detail-table/">KYC Detail</a></li>
                            {% comment %} <li><a href="/super-admin/compliment-create/">Add Compliment</a></li>
                            <li><a href="/super-admin/compliment-table/">Show Compliment</a></li>
                            <li><a href="/super-admin/claim-rule-create/">Add Claim</a></li>
                            <li><a href="/super-admin/claim-rule-table/">Show Claim</a></li> {% endcomment %}

                            <li><a href="/super-admin/notification-table/">Notification</a></li>
                            
                            {% comment %} <li><a href="page-lock.html">Lock Screen</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="page-error-404.html">Error 404</a></li>
                                    <li><a href="page-error-403.html">Error 403</a></li>
                                    <li><a href="page-error-400.html">Error 400</a></li>
                                    <li><a href="page-error-500.html">Error 500</a></li>
                                    <li><a href="page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>  {% endcomment %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->



{% block content %}



        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <a href="/super-admin/help-support-table/">
                                <h3 class="card-title text-white">Help & Support</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ num_help }}</h2>
                                    <p class="text-white mb-0">{{ request.user.last_login.date }}</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-headphones"></i></span>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Withdraw Request</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ num_withdraw }}</h2>
                                    <p class="text-white mb-0">{{ request.user.last_login.date }}</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">New Customers</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{ notify }}</h2>
                                    <p class="text-white mb-0">{{ request.user.last_login.date }}</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Customer Satisfaction</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">99%</h2>
                                    <p class="text-white mb-0">{{ request.user.last_login.date }}</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                
                

             
            
            </div>
            <!-- #/ container -->
        </div>
        
        <!--**********************************
            Content body end
        ***********************************-->
        

{% endblock content %}

        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://techpanda.asia/">Techpanda IT Services</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static './plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static './plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static './plugins/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static './plugins/d3v3/index.js' %}"></script>
    <script src="{% static './plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static './plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static './plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static './plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static './plugins/moment/moment.min.js' %}"></script>
    <script src="{% static './plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static './plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static './plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static './plugins/tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static './plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static './plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>



    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
    <script>
        // code for mirror field in register
        const ogInput = document.getElementById("val-currency")
        const mirrorInput = document.getElementById("val-username")

        ogInput.addEventListener("input", () => {
        mirrorInput.value = ogInput.value
        })
    </script>


    <script type="text/javascript">
        disable = new Boolean();
         function highlight(a) {
          if(disable==false)a.className='highlight'
         }
        
         function normal(a) {
          a.className='normal'
         }
        </script>
    

</body>

</html>